*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center; /* horizontally center items */
    font-family: Arial, sans-serif;
  }


  
  /* mobile device CSS styling here below */
  
  @media screen and (min-width: 560px) and (max-width: 767px) {
   main, .to-do-list {
        width: 100vw;
        
    }
  }
  
  @media screen and (min-width: 768px) {
    main, .to-do-list
 {
        width: 50vw;
        max-width: 800px; 
    }
  }